<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.btothefifth.patched"
    android:versionName="19.5.5.3"
    tools:node="merge">
<application>
        <activity
            android:name="com.myfitnesspal.android.settings.MyPreferencePalSettingsActivity"
			android:label="MyPreferencePalSettingsActivity"
            android:exported="false">
            <intent-filter>
				<action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
</application>
</manifest>